.styled-table {
  border-collapse: separate;
  border-spacing: 0 5px;
  margin: 25px 0;
  font-size: 18px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

tr {
  background-color: black;
  opacity: 0.7;
}

@media only screen and (max-width: 768px) {
  .styled-table {
    width: 90%;
  }
}

.styled-table tr:nth-child(2) {
  background: linear-gradient(to right, #d4af37, #e6c65b);
  color: black;
}

.styled-table tr:nth-child(3) {
  background: linear-gradient(to right, #c0c0c0, #d1d1d1);
  color: black;
}

.styled-table tr:nth-child(4) {
  background: linear-gradient(to right, #cd7f32, #d08e45);
  color: black;
}

.styled-table th,
.styled-table td {
  padding: 10px;
  border: 1px solid #3f87a6;
  border-right: none;
  border-left: none;
  opacity: 1;
}

.styled-table th:first-child,
.styled-table td:first-child {
  border-left: 1px solid #3f87a6;
}

.styled-table tr th:last-child,
.styled-table tr td:last-child {
  border-right: 1px solid #3f87a6;
  border-bottom-right-radius: 50px;
}

/* .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
} */
