.App {
  margin-top: 62px;
  padding: 10px;
  height: 60vh;
  box-sizing: border-box;
  background-image: url("./bg.avif");
  background-size: cover;
  background-position: center;
  overflow-y: scroll;
}
